{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
	},
	"globals": {
		"document": false,
		"require": false,
		"describe": false,
		"test": false,
		"expect": false,
		"module": false,
		"__dirname": false,
		"process": false,
		"beforeEach": false,
		"afterEach": false,
		"it": false,
		"jest": false
	},
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins": [
		"react",
		"prettier"
	],
    "rules": {
		"prettier/prettier": "error"
	}
}
